* {
  margin: 0;
  padding: 0;
}
:root{
  --clr-white: 0 0% 100%;
}
body {
  font-family: sans-serif;
  background: #000;
  overflow-x: hidden;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.sr-only {
  visibility: hidden;
}
/* Primary header */

.primary-header {
  align-content: center;
  justify-content: space-between;
}
.primary-header nav {
  align-self: center;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
}
.primary-navigation a {
  text-decoration: none;
  color: hsl(0, 25%, 100%);
}
.underline-indicators > * {
  padding: var(--underline-gap, 2rem) 0;
  border-bottom: .2rem solid hsl(var(--clr-white) / 0 );
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  padding: var(--underline-gap, 2rem) 0;
  border-color: hsl(var(--clr-white) / .25 );
}
.underline-indicators > .active{
  border-color: hsl(var(--clr-white) / 1 );
}
@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vh, 3rem);
    padding-inline: clamp(3rem, 5vw, 10rem);
  }
  
}

@media (min-width: 35em) and (max-width: 55em) {
  
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-image: url("assets/icons/menu.svg");
    background-color: transparent;
    width: 2em;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border: 0;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("assets/icons/menu_close.svg");
  }
}
